html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-family: "Comic Neue", cursive;
}

body {
  background-image: repeating-conic-gradient(
    rgb(112, 195, 191) 0 9deg,
    rgb(93, 191, 190) 9deg 18deg
  );
}

h1 {
  font-family: "Bangers", cursive;
  font-size: 3em;
  letter-spacing: 0.05em;
  color: rgb(224, 58, 46);
}
