html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-family: "Comic Neue", cursive;
}

body {
  background-image: repeating-conic-gradient(
    rgb(112, 195, 191) 0 9deg,
    rgb(93, 191, 190) 9deg 18deg
  );
}

h1 {
  font-family: "Bangers", cursive;
  font-size: 3.2em;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgb(192, 56, 46);
  -webkit-text-stroke: 1px black;
}

#form-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#post-message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 360px;
  height: fit-content;
  padding: 20px;
  border: solid black;
  /* transform: skew(-2deg); */
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-1deg);
  background-color: white;
  background-image: radial-gradient(
      circle,
      rgba(133, 133, 133, 0.05) 0,
      white 0
    ),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 0, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.04) 3%, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.05) 4%, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.1) 5%, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.15) 10%, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.2) 15%, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.25) 20%, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.3) 25%, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.35) 30%, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.4) 35%, white 0),
    radial-gradient(circle, rgba(133, 133, 133, 0.45) 40%, white 0),
    radial-gradient(circle, rgb(133, 133, 133, 0.5) 45%, white 0),
    radial-gradient(circle, rgb(133, 133, 133, 0.5) 50%, white 0);
  background-size: 1em 1em;
  background-repeat: repeat-x;
  background-position: 0 0, 0 1em, 0 2em, 0 3em, 0 4em, 0 5em, 0 6em, 0 7em,
    0 8em, 0 9em, 0 10em, 0 11em, 0 12em, 0 13em, 0 14em, 0 15em, 0 16em, 0 17em,
    0 18em, 0 19em, 0 20em, 0 21em, 0 22em;
}

.form-labels {
  /* background-color: rgb(127, 242, 72); */
  color: rgb(88, 232, 21);
  font-family: "Bangers", cursive;
  letter-spacing: 0.05em;
  font-size: 1.7em;
  font-weight: 600;
  width: fit-content;
  padding: 10px 15px;
  margin: 8px;
  border-radius: 100px / 60px;
  /* border: 2px solid black; */
  -webkit-text-stroke: 1px black;
}

.form-inputs {
  font-family: "Comic Neue", cursive;
  font-size: 1.1em;
  font-weight: 600;
  border: solid black;
  padding: 12px;
}

#name-input {
  border-width: 4px 2px 2px 4px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(1deg);
}

#message-input {
  border-width: 2px 3px 2px 4px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

#submit-button {
  font-family: "Comic Neue", cursive;
  transform: rotate(2deg);
  width: 120px;
  margin: 15px;
  padding: 10px;
  font-size: 1.1em;
  background: rgb(192, 56, 46);
  color: white;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 0 rgb(0, 0, 0);
  cursor: pointer;
}

#message-thread {
  display: flex;
  flex-direction: column;
  width: 45vw;
  min-width: 350px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  background-color: white;
  height: fit-content;
  margin: 90px auto;
  padding: 20px 10vw 20px 10vw;
  border: solid black;
  border-width: 4px 2px 2px 4px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-1.5deg);
  background-image: radial-gradient(rgb(255, 219, 101) 12%, transparent 12%),
    radial-gradient(rgb(255, 219, 101) 12%, transparent 12%);
  background-color: rgb(253, 246, 129);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

.message-container {
  width: 100%;
}

.message-display {
  margin: 30px 0;
  padding: 20px 30px;
  min-width: 250px;
  width: fit-content;
  height: fit-content;
  background: white;
  border: 3px solid black;
  position: relative;
  border-radius: 90px;
}

.message-display::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 43px solid transparent;
  border-top: 3px solid black;
  margin-top: -21.5px;
}

.message-container:nth-child(odd) .message-display {
  float: left;
  transform: rotate(3deg);
}

.message-container:nth-child(odd) .message-display::before {
  left: 0;
  border-right-color: white;
  border-left: 0;
  margin-left: -43px;
}

.message-container:nth-child(even) .message-display {
  float: right;
  transform: rotate(-0.5deg);
}

.message-container:nth-child(even) .message-display::before {
  right: 0;
  border-left-color: white;
  border-right: 0;
  margin-right: -43px;
}

.username {
  font-family: "Bangers", cursive;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  padding: 0 15px;
}

.posted-message {
  font-size: 1.15em;
  font-weight: 500;
  padding: 0 5px 5px 15px;
}

.delete-button {
  float: right;
  margin: 0 20px;
  font-family: "Comic Neue", cursive;
  transform: rotate(2deg);
  padding: 10px;
  font-size: 0.8em;
  background: rgb(93, 191, 190);
  color: white;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 0 rgb(0, 0, 0);
  cursor: pointer;
}
